div {
    margin: auto; 
    width: 768px; 
    background-color: #EEE; 
    padding: 12px; 
    border-radius: 8px;
}

label {
    display: block; 
    margin-bottom: 4px; 
}

input {
    padding-top: 8px; 
    padding-bottom: 8px; 
    border: hidden; 
    outline: none; 
    width: 100%; 
    border-radius: 4px;
}

button {
    margin-top: 12px; 
    padding-top: 8px; 
    padding-bottom: 8px; 
    background-color: blueviolet; 
    color: white; 
    border: none; 
    border-radius: 8px; 
    width: 100%;
}